/ConsoleApp/bin/Debug/netcoreapp2.0/ConsoleApp.deps.json
/ConsoleApp/bin/Debug/netcoreapp2.0/ConsoleApp.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/ConsoleApp.pdb
/ConsoleApp/bin/Debug/netcoreapp2.0/ConsoleApp.runtimeconfig.dev.json
/ConsoleApp/bin/Debug/netcoreapp2.0/ConsoleApp.runtimeconfig.json
/ConsoleApp/bin/Debug/netcoreapp2.0/DependencyInjection.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/DependencyInjection.pdb
/ConsoleApp/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.pdb
/ConsoleApp/bin/Debug/netcoreapp2.0/ExceptionManager.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/ExceptionManager.pdb
/ConsoleApp/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.pdb
/ConsoleApp/bin/Debug/netcoreapp2.0/LocalizationManager.dll
/ConsoleApp/bin/Debug/netcoreapp2.0/LocalizationManager.pdb
/ConsoleApp/obj/ConsoleApp.csproj.nuget.cache
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.props
/ConsoleApp/obj/ConsoleApp.csproj.nuget.g.targets
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.AssemblyInfo.cs
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.AssemblyInfoInputs.cache
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.csproj.CopyComplete
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.csproj.CoreCompileInputs.cache
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.csproj.FileListAbsolute.txt
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.csprojAssemblyReference.cache
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.dll
/ConsoleApp/obj/Debug/netcoreapp2.0/ConsoleApp.pdb
/ConsoleApp/obj/project.assets.json
/DependencyInjection/bin/Debug/netcoreapp2.0/DependencyInjection.deps.json
/DependencyInjection/bin/Debug/netcoreapp2.0/DependencyInjection.dll
/DependencyInjection/bin/Debug/netcoreapp2.0/DependencyInjection.pdb
/DependencyInjection/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.dll
/DependencyInjection/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.pdb
/DependencyInjection/bin/Debug/netcoreapp2.0/ExceptionManager.dll
/DependencyInjection/bin/Debug/netcoreapp2.0/ExceptionManager.pdb
/DependencyInjection/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.dll
/DependencyInjection/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.pdb
/DependencyInjection/bin/Debug/netcoreapp2.0/LocalizationManager.dll
/DependencyInjection/bin/Debug/netcoreapp2.0/LocalizationManager.pdb
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.AssemblyInfo.cs
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.AssemblyInfoInputs.cache
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.csproj.CopyComplete
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.csproj.CoreCompileInputs.cache
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.csproj.FileListAbsolute.txt
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.csprojAssemblyReference.cache
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.dll
/DependencyInjection/obj/Debug/netcoreapp2.0/DependencyInjection.pdb
/DependencyInjection/obj/DependencyInjection.csproj.nuget.cache
/DependencyInjection/obj/DependencyInjection.csproj.nuget.g.props
/DependencyInjection/obj/DependencyInjection.csproj.nuget.g.targets
/ExceptionManager.Abstractions/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.deps.json
/ExceptionManager.Abstractions/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.dll
/ExceptionManager.Abstractions/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.pdb
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.AssemblyInfo.cs
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.AssemblyInfoInputs.cache
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.csproj.CoreCompileInputs.cache
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.csproj.FileListAbsolute.txt
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.csprojAssemblyReference.cache
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.dll
/ExceptionManager.Abstractions/obj/Debug/netcoreapp2.0/ExceptionManager.Abstractions.pdb
/ExceptionManager.Abstractions/obj/ExceptionManager.Abstractions.csproj.nuget.cache
/ExceptionManager.Abstractions/obj/ExceptionManager.Abstractions.csproj.nuget.g.props
/ExceptionManager.Abstractions/obj/ExceptionManager.Abstractions.csproj.nuget.g.targets
/ExceptionManager.Abstractions/obj/project.assets.json
/ExceptionManager/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.dll
/ExceptionManager/bin/Debug/netcoreapp2.0/ExceptionManager.Abstractions.pdb
/ExceptionManager/bin/Debug/netcoreapp2.0/ExceptionManager.deps.json
/ExceptionManager/bin/Debug/netcoreapp2.0/ExceptionManager.dll
/ExceptionManager/bin/Debug/netcoreapp2.0/ExceptionManager.pdb
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.AssemblyInfo.cs
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.AssemblyInfoInputs.cache
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.csproj.CopyComplete
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.csproj.CoreCompileInputs.cache
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.csproj.FileListAbsolute.txt
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.csprojAssemblyReference.cache
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.dll
/ExceptionManager/obj/Debug/netcoreapp2.0/ExceptionManager.pdb
/ExceptionManager/obj/ExceptionManager.csproj.nuget.cache
/ExceptionManager/obj/ExceptionManager.csproj.nuget.g.props
/ExceptionManager/obj/ExceptionManager.csproj.nuget.g.targets
/ExceptionManager/obj/project.assets.json
/LocalizationManager.Abstractions/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.deps.json
/LocalizationManager.Abstractions/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.dll
/LocalizationManager.Abstractions/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.pdb
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.AssemblyInfo.cs
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.AssemblyInfoInputs.cache
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.csproj.CoreCompileInputs.cache
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.csproj.FileListAbsolute.txt
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.csprojAssemblyReference.cache
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.dll
/LocalizationManager.Abstractions/obj/Debug/netcoreapp2.0/LocalizationManager.Abstractions.pdb
/LocalizationManager.Abstractions/obj/LocalizationManager.Abstractions.csproj.nuget.cache
/LocalizationManager.Abstractions/obj/LocalizationManager.Abstractions.csproj.nuget.g.props
/LocalizationManager.Abstractions/obj/LocalizationManager.Abstractions.csproj.nuget.g.targets
/LocalizationManager.Abstractions/obj/project.assets.json
/LocalizationManager/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.dll
/LocalizationManager/bin/Debug/netcoreapp2.0/LocalizationManager.Abstractions.pdb
/LocalizationManager/bin/Debug/netcoreapp2.0/LocalizationManager.deps.json
/LocalizationManager/bin/Debug/netcoreapp2.0/LocalizationManager.dll
/LocalizationManager/bin/Debug/netcoreapp2.0/LocalizationManager.pdb
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.AssemblyInfo.cs
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.AssemblyInfoInputs.cache
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.csproj.CopyComplete
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.csproj.CoreCompileInputs.cache
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.csproj.FileListAbsolute.txt
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.csprojAssemblyReference.cache
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.dll
/LocalizationManager/obj/Debug/netcoreapp2.0/LocalizationManager.pdb
/LocalizationManager/obj/LocalizationManager.csproj.nuget.cache
/LocalizationManager/obj/LocalizationManager.csproj.nuget.g.props
/LocalizationManager/obj/LocalizationManager.csproj.nuget.g.targets
/LocalizationManager/obj/project.assets.json
/DependencyInjection/obj
